/*
 * Estilos de tu proyecto
 */
@font-face {/* Contiene los iconos, se llaman con su unicode respectivo */
font-family:FontAwesome;
src: url(../fonts/FontAwesome.otf);
}

header{
	background-color: #2C3E50;
	width: 100%;
	position: fixed;
  top: 0;
  padding: 20px;
}

/*estilos MENU*/
.menu{
  padding: 22px 70px;
  overflow: auto;
  float: right;
  color: white;
}

.menu ul li{
	display: inline-block;
	font-size: 16px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 0.9em;
  padding: 10px 10px;
}

.menu a:hover {
  color: #18BC9C;
}

/*estilos LOGO*/
.logo{
	color:white;
	text-transform: uppercase;
	font-size: 1.7em;
	float: left;
	padding: 15px 0 0 40px;
}

/*estilos HOME*/
#home{
	background-color: #18BC9C;
  height: auto;
  text-align: center;
  margin-top: 70px;
}

#profile{
  margin: 0 37%;
  padding-top: 80px;
}

#profile-text p{
  padding: 15px 0 80px 0;
  color: white;
  font-size: 1.3em;
  font-weight: 200;
}

#profile-text h2{
  text-transform: uppercase;
  color:white;
  font-size: 3.5em;
}

.star i{
  color: white;
  font-size: 1.5em;
}

#profile-text .star:before , #profile-text .star:after{
  content: "\f068\f068\f068\f068\f068\f068";
  font-family:FontAwesome;
  color: white;
}

/*estilos PORTAFOLIO*/

#portafolio{
  background-color: white;
  text-align: center;
  padding: 0 30px 70px 30px;
  height: auto;
}

#portafolio h2{
  color: black;
  text-transform: uppercase;
  padding-top: 70px;
  font-size: 2.5em;
}

#portafolio .star i{
  color: black;
  padding-bottom: 10px;
}

#portafolio .star:before , #portafolio .star:after{
  content: "\f068\f068\f068\f068\f068\f068";
  font-family:FontAwesome;
  color: black;
}

/*estilos ABOUT*/
#about{
  background-color:#18BC9C;
  text-align: center;
  height: auto;
  color: white;
  padding-top: 30px;
  padding-bottom: 110px;
}

#about h2{
  color: white;
  text-transform: uppercase;
  padding-top: 70px;
  font-size: 2.5em;
}

#about .star:before , #about .star:after{
  content: "\f068\f068\f068\f068\f068\f068";
  font-family:FontAwesome;
  color: white;
}

#about .row{
  padding: 10px 210px;
  text-align: left;
}

#about .row p {
  font-size: 1.2em;
  line-height: 1.5em;
}

#about a{
  font-size: 1.2em;
  color: white;
  text-decoration:none;
  padding: 10px 20px;
  border:solid 2px white;
  border-radius: 5px;
}

#about a:hover{
  background-color: white;
  color:#18BC9C ;
}

#about a:hover:before{
  color:#18BC9C ;
}

#about a:before{
  content: "\f019";
  font-family:FontAwesome;
  color: white;
  padding-right: 5px;
}

/*estilos CONTACT*/
#contact{
  background-color:white;
  text-align: center;
  height: auto;
  padding-top: 30px;
  padding-bottom: 110px;
}

#contact h2{
  color: black;
  text-transform: uppercase;
  padding-top: 80px;
  font-size: 2.5em;
}

#contact .star i{
  color: black;
  padding-bottom: 10px;
}

#contact .star:before , #contact .star:after{
  content: "\f068\f068\f068\f068\f068\f068";
  font-family:FontAwesome;
  color: black;
}

#contact input{
  width: 70%;
  border:none;
  border-top:solid 1px #EBEDED;
  box-shadow: none;
  padding: 40px 0 5px 0;
}

#contact textarea{
  width: 70%;
  border:none;
  box-shadow: none;
  padding: 25px 0 5px 0;
  border-bottom:solid thin #EBEDED;
  border-top:solid thin #EBEDED;
}

input:focus, textarea:focus, button:focus{ 
outline: none;
}

input::placeholder{
  color: #B0B2B2;
  padding: 20px 0 0 10px;
  font-size: 1.8em;
}

textarea::placeholder{
  color: #B0B2B2;
  padding: 0 0 0 10px;
  font-size: 1.8em;
}

#contact .col-1{
  margin-left: 160px;
}

#contact button{
  background-color: #18BC9C;
  color:white;
  font-weight: bold;
  border:solid thin #18BC9C;
  border-radius: 5px;
  font-size:1em;
  width: 75px;
  height: 45px;
  margin-left: 30px;
  cursor: pointer;
}

#contact button:hover{
  background-color: #0F7662;
  border:solid thin #0F7662;
}


